/* Begin Non-template CSS */

/*
  Start CSS
  Location: Multiple Pages
*/
body {
    -webkit-tap-highlight-color: inherit;
}

#modal-video {
  height: 400px;
  width: 600px;
}

.modal-logo {
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

#foundations-logo {
  max-height: 40px;
  margin-right: 10px;
}

@media screen and (max-width: 575px) {
  #foundations-logo {
    max-height: 20px;
    margin-right: 0px;
  }

  .navbar-brand {
    font-size: 12pt;
  }

  #modal-video {
    max-width: 100%;
    height: 60%;
  }
}

footer {
  background-color: #222;
}

#mainNav.navbar-shrink {
  background-color: rgba(34, 34, 34, 0.95);
}

.dropdown-menu {
    background-color: rgba(34, 34, 34, 0.95);
}

.dropdown-item {
    color: white;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.dropdown-item:hover {
    background-color: #fed136;
}

@font-face {
  font-family: BebasNeue Light;
  src: url("../img/Fonts/BebasNeueLight.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeueLight.woff") format("woff");
}

@font-face {
  font-family: BebasNeue;
  src: url("../img/Fonts/BebasNeue.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeue.woff") format("woff");
}

#mainNav .navbar-brand {
  font-family: BebasNeue;
}

#mainNav .navbar-brand span {
  font-family: BebasNeue Light;
}

#mainNav .navbar-brand {
  font-size: 1.5em;
}

@media screen and (max-width: 375px) {
  #mainNav .navbar-brand {
    font-size: 1.25em;
  }
}

.lazy {
  -webkit-animation: 5s fadein ease-in;
  -moz-animation: fadeOut 3s ease-out; /* Firefox < 16 */
}


/*
  End CSS
  Location: Multiple Pages
*/

/*
  Start CSS
  Location: Word Cube mobile only
 */

 #leadership {
     display: none;
 }

 /* in this section is the cube built for the smallest phone size. */

 @media screen and (max-width: 575px) {

   header {
       display: none;
   }

   #leadership {
       background-color: black;
       height: 40em;
       max-width: 100%;
       padding-top: 100px;
       display: block;
   }

   #wordCube {
     width: 500px;
     height: 600px;
     max-width: 100%;
     color: white;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 150px;
   }

   .word {
     position: relative;
     font-size: 12pt;
     font-weight: bolder;
     transition: all 1s;
     opacity: 0;
     display: inline-block;
   }


   .displayWord {
     opacity: 1;
   }

   .displayF {
     color: gold;
   }

   #wordCube {
     width: 320px;
     height: 350px;
   }

   #lianaLiang {
     right: -9%;
     font-size: 11pt;
     transform: matrix(1, 0.6, -2, 1, 0, 0);
     top: 1.5%;
   }

   #miyaSheker {
     right: -13%;
     font-size: 12pt;
     transform: matrix(0.9, 0.6, -1.9, 1, 0, 0);
     top: -24%;
   }

   #marceaSuwandi {
     top: 14%;
     right: -26.5%;
     font-size: 15pt;
     transform: matrix(1, -0.5, 1.5, 1, 0, 0);
   }

   #tennShaun {
     right: -16%;
     top: -24%;
     font-size: 16pt;
     transform: matrix(1, -0.5, 1.5, 1, 0, 0);
   }

   #ellisWong {
     top: 59.5%;
     right: 24.5%;
     transform: matrix(0, -1.3, 2, 1, 0, 0);
   }

   #michelleTran {
     right: 44.5%;
     top: 60%;
     font-size: 12pt;
     transform: matrix(0, -1, 2, -1, 0, 0);
   }

   #joshuaFidelis {
     top: 28%;
     right: 57%;
     font-size: 12pt;
     transform: matrix(0, -1, 2, 1, 0, 0);
   }

   #ashleyPizarro {
     top: 22.5%;
     right: 21%;
     transform: matrix(3.1, 2, 0, 4, 0, 0);
     font-size: 5pt;
   }

   #annaTian {
     top: 69%;
     left: 34.5%;
     font-size: 12pt;
     transform: matrix(0, -1, 2, 1, 0, 0);
   }

   #vivianTan {
     top: 41.5%;
     right: -22%;
     font-size: 11pt;
     transform: matrix(0, -1.5, 2, 1, 0, 0);
   }

   #michelleLiang {
     top: 29%;
     right: 22%;
     font-size: 12pt;
     transform: matrix(0, -1, 2, -1, 0, 0);
   }

   #andrewWang {
     top: 40%;
     right: 9%;
     font-size: 12pt;
     transform: matrix(0, -1, 2, -1, 0, 0);
   }

   #zacharyHuang {
     right: -63%;
     top: 21%;
     font-size: 5pt;
     transform: matrix(2, -1, 0, 4, 0, 0);
   }

   #sylviaHuynh {
     right: -71%;
     top: 12.5%;
     font-size: 6pt;
     transform: matrix(2, -1, 0, 3, 0, 0);
   }

   #tiaLiu {
     right: 22%;
     top: 66%;
     font-size: 9.5pt;
     transform: matrix(1, -0.5, 1.5, 1, 0, 0);
   }

   #bensonHan {
     right: -85%;
     top: 67.5%;
     font-size: 5pt;
     transform: matrix(2, -1, 0, 4, 0, 0);
   }

   #lisaChao {
     top: 50.5%;
     right: -77%;
     font-size: 9pt;
     transform: matrix(1, -0.5, 1.5, 1, 0, 0);
   }

   #jeremyQuan {
     right: 24%;
     font-size: 4.5pt;
     transform: matrix(2, -1, 0, 3, 0, 0);
     top: -12%;
   }

   #sarahTian {
     right: -19.6%;
     transform: matrix(3, 2, 0, 5, 0, 0);
     font-size: 3.5pt;
     top: -12%;
   }

   #joshLai {
     font-size: 12pt;
     transform: matrix(0, -1, 2, -1, 0, 0);
     top: 67.5%;
     right: -15%;
   }

   #jesicaTruong {
     top: 29.5%;
     right: 4%;
     font-size: 7pt;
     transform: matrix(2, -1, 0, 2, 0, 0);
   }

   #rebeccaLin {
     right: -55%;
     top: 76.5%;
     font-size: 6pt;
     transform: matrix(2, -1, 0, 3, 0, 0);
   }
 }

 /*
    End CSS
    Location: Word Cube mobile only
 */


/*
   Start CSS
   Location: Header

*/

video {
  width: 100%;
  height: 170%;
}

header .masthead {
  text-align: center;
  color: white;
  height: 170%;
  width: 100%;
}

.soundbutton {
  height: 50px;
  width: 100px;
  position: absolute;
  top: 150px;
  left: 46%;
  color: white;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1));
  border: 0px;
  border-radius: 25%;
  -webkit-animation: fadeOut 3s ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeOut 3s ease-out; /* Firefox < 16 */
  opacity: 0;
}

.soundOn {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3));
  -webkit-animation: fadeOut 3s ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeOut 3s ease-out; /* Firefox < 16 */
}

.soundbutton:hover {
  cursor: pointer;
  border-color: inherit;
  opacity: 1;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@-moz-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (max-width: 787px) {
  .masthead {
    margin-top: 50px;
  }

  .soundbutton {
    display: none;
  }
}

/*
   End CSS
   Location: Header

*/

/*
   Start CSS
   Location: Exec Letter

*/

#letterFrom {
  padding-bottom: 25px;
}

#section-main-content {
  display: none;
}

#spring-cube {
  height: 60%;
  width: 40%;
  display: inline-flex;
  float: left;
  margin: 20px;
  margin-bottom: 200px;
  /* border: double 5px black; */
  box-shadow: 4px 4px 10px grey;
  -webkit-animation: inFromLeft 3s ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: inFromLeft 3s ease-out; /* Firefox < 16 */
}

@keyframes inFromLeft {
  from {
    position: relative;
    opacity: 0;
    left: -200px;
  }
  to {
    position: relative;
    opacity: 1;
    left: 0px;
  }
}

@-moz-keyframes inFromLeft {
  from {
    position: relative;
    opacity: 0;
    left: -200px;
  }
  to {
    position: relative;
    opacity: 1;
    left: 0px;
  }
}

#exec-signOff {
  text-align: right;
}

#exec-greeting {
  text-align: justify;
  -webkit-animation: inFromRight 3s ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: inFromRight 3s ease-out; /* Firefox < 16 */
}

@keyframes inFromRight {
  from {
    position: relative;
    opacity: 0;
    right: -200px;
  }
  to {
    position: relative;
    opacity: 1;
    right: 0px;
  }
}

@-moz-keyframes inFromRight {
  from {
    position: relative;
    opacity: 0;
    right: -200px;
  }
  to {
    position: relative;
    opacity: 1;
    right: 0px;
  }
}
@media screen and (max-width: 786px) {
  @keyframes inFromRight {
    from {
      position: relative;
      opacity: 0;
      bottom: -200px;
    }
    to {
      position: relative;
      opacity: 1;
      bottom: 0px;
    }
  }

  @-moz-keyframes inFromRight {
    from {
      position: relative;
      opacity: 0;
      bottom: -200px;
    }
    to {
      position: relative;
      opacity: 1;
      bottom: 0px;
    }
  }
}

#welcome {
  font-family: BebasNeue;
  font-size: 16pt;
}

@media screen and (max-width: 1024px) {
  #spring-cube {
    height: 50%;
  }
}

@media screen and (max-width: 991px) {
  #spring-cube {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  #section-main-content {
    display: block;
  }
}

/*
   End CSS
   Location: Exec Letter

*/

/*
   Start CSS
   Location: Upcoming Events

*/
  .UpcomingEvents {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
  }

  #summerBanner {
    width: 100%;
    position: relative;
  }

  .bannerContent {
    width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media screen and (max-width: 575px) {
    .bannerContent {
      text-align: justify;
      width: 90%;
    }
  }

/*
   End CSS
   Location: Exec Letter

*/

/*
   Start CSS
   Location: Highlights
*/

.portfolio-item {
  box-shadow: 0px 0px 10px lightgrey;
}

#portfolio {
  padding-top: 25px;
}

#highlight-main-content {
  display: none;
}

#highlight-content-1 {
  -webkit-animation: inFromBottom 4s ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: inFromBottom 4s ease-out; /* Firefox < 16 */
}

#highlight-content-2 {
  -webkit-animation: inFromBottom 4s ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: inFromBottom 4s ease-out; /* Firefox < 16 */
}

#highlight-content-3 {
  -webkit-animation: inFromBottom 4s ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: inFromBottom 4s ease-out; /* Firefox < 16 */
}

@keyframes inFromBottom {
  from {
    position: relative;
    opacity: 0;
    bottom: -300px;
  }
  to {
    position: relative;
    opacity: 1;
    bottom: 0px;
  }
}

@-moz-keyframes inFromBottom {
  from {
    position: relative;
    opacity: 0;
    top: -200px;
  }
  to {
    position: relative;
    opacity: 1;
    top: 0px;
  }
}

/*
   End CSS
   Location: Highlights

*/

/*
   Start CSS
   Location: footer
*/

.contactInfo {
  color: white;
}

/*
  End CSS
  Location: footer
*/
