/* Begin Non-template CSS */

/*
  Start CSS
  Location: Multiple Pages
*/

body {
    -webkit-tap-highlight-color: inherit;
    font-family: 'Lato';
}

#modal-video {
  height: 400px;
  width: 600px;
}

.modal-logo {
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

#foundations-logo {
  max-height: 40px;
  margin-right: 10px;
}

@media screen and (max-width: 575px) {
  #foundations-logo {
    max-height: 20px;
    margin-right: 0px;
  }

  .navbar-brand {
    font-size: 12pt;
  }

  #modal-video {
    max-width: 100%;
    height: 60%;
  }
}

footer {
  background-color: #222;
}

#mainNav.navbar-shrink {
  background-color: rgba(34, 34, 34, 0.95);
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 1.25em;
  font-family: BebasNeue;
}

.dropdown-menu {
    background-color: rgba(34, 34, 34, 0.95);
    border: none;
}

.dropdown-item {
    color: white;
    font-family: BebasNeue;
    font-size: 1.25em;
    text-transform: uppercase;
}

.dropdown-item:hover {
    background-color: #fed136;
}

@font-face {
  font-family: BebasNeue Light;
  src: url("../img/Fonts/BebasNeueLight.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeueLight.woff") format("woff");
}

@font-face {
  font-family: BebasNeue;
  src: url("../img/Fonts/BebasNeue.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeue.woff") format("woff");
}

#mainNav .navbar-brand {
  font-family: BebasNeue;
}

#mainNav .navbar-brand span {
  font-family: BebasNeue Light;
}

#mainNav .navbar-brand {
  font-size: 1.5em;
}

@media screen and (max-width: 375px) {
  #mainNav .navbar-brand {
    font-size: 1.25em;
  }
}

/*
  End CSS
  Location: Multiple Pages
*/

/* @media screen and (max-width: ) */

/*
   Start CSS
   Location: navbar
*/



.nav-title {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-title {
    display: inline-flex;
    color: white;
  }
}

/*
  End CSS
  Location: navbar
*/

/*
   Start CSS
   Location: lship;
*/

#whiteBack {
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: white;
  color: black;
}

#leadership {
  background-color: black;
  max-width: 100%;
  color: white;
  padding-top: 100px;
}

.section-heading {
  text-align: center;
}

#mainNav {
  background-color: rgba(34, 34, 34, 0.95);
}

/*
    All of this is the cube animation.. Honestly takes forever
    get right if if you make changes but I thought it was
    worth it so I went for it.
 */


#wordCube {
  width: 500px;
  height: 600px;
  max-width: 100%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  position: relative;
}

.word {
  position: absolute;
  font-size: 17pt;
  font-weight: bolder;
  transition: all 1s;
  opacity: 0;
}


.displayWord {
  opacity: 1;
}

.displayF {
  color: gold;
}

#lianaLiang {
  right: 48%;
  font-size: 19pt;
  -ms-transform: matrix(1, 0.6, -2, 1, 0, 0);
  -webkit-transform: matrix(1, 0.6, -2, 1, 0, 0);
  -moz-transform: matrix(1, 0.6, -2, 1, 0, 0);
  -o-transform: matrix(1, 0.6, -2, 1, 0, 0);
  transform: matrix(1, 0.6, -2, 1, 0, 0);
  top: 35%;
}

#miyaSheker {
  right: 6%;
  font-size: 21pt;
  -ms-transform: matrix(0.9, 0.6, -1.9, 1, 0, 0);
  -webkit-transform: matrix(0.9, 0.6, -1.9, 1, 0, 0);
  -moz-transform: matrix(0.9, 0.6, -1.9, 1, 0, 0);
  -o-transform: matrix(0.9, 0.6, -1.9, 1, 0, 0);
  transform: matrix(0.9, 0.6, -1.9, 1, 0, 0);
  top: 18%;
}

#marceaSuwandi {
  top: 38.5%;
  right: 2.5%;
  font-size: 24pt;
  -ms-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  -webkit-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  -moz-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  -o-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  transform: matrix(1, -0.5, 1.5, 1, 0, 0);
}

#tennShaun {
  right: 49%;
  top: 17%;
  font-size: 26pt;
  -ms-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  -webkit-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  -moz-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  -o-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  transform: matrix(1, -0.5, 1.5, 1, 0, 0);
}

#ellisWong {
  top: 58%;
  right: 80.5%;
  -ms-transform: matrix(0, -1.5, 2, 1, 0, 0);
  -webkit-transform: matrix(0, -1.5, 2, 1, 0, 0);
  -moz-transform: matrix(0, -1.5, 2, 1, 0, 0);
  -o-transform: matrix(0, -1.5, 2, 1, 0, 0);
  transform: matrix(0, -1.5, 2, 1, 0, 0);
}

#michelleTran {
  right: 68%;
  top: 58%;
  font-size: 19pt;
  -ms-transform: matrix(0, -1, 2, -1, 0, 0);
  -webkit-transform: matrix(0, -1, 2, -1, 0, 0);
  -moz-transform: matrix(0, -1, 2, -1, 0, 0);
  -o-transform: matrix(0, -1, 2, -1, 0, 0);
  transform: matrix(0, -1, 2, -1, 0, 0);
}

#joshuaFidelis {
  top: 37%;
  right: 80.5%;
  font-size: 17pt;
  -ms-transform: matrix(0, -1, 2, 1, 0, 0);
  -webkit-transform: matrix(0, -1, 2, 1, 0, 0);
  -moz-transform: matrix(0, -1, 2, 1, 0, 0);
  -o-transform: matrix(0, -1, 2, 1, 0, 0);
  transform: matrix(0, -1, 2, 1, 0, 0);
}

#ashleyPizarro {
  top: 44%;
  right: 62%;
  -ms-transform: matrix(3.1, 2, 0, 3, 0, 0);
  -webkit-transform: matrix(3.1, 2, 0, 3, 0, 0);
  -moz-transform: matrix(3.1, 2, 0, 3, 0, 0);
  -o-transform: matrix(3.1, 2, 0, 3, 0, 0);
  transform: matrix(3.1, 2, 0, 3, 0, 0);
  font-size: 10pt;
}

#annaTian {
  top: 79%;
  left: 41%;
  font-size: 20pt;
  -ms-transform: matrix(0, -1, 2, 1, 0, 0);
  -webkit-transform: matrix(0, -1, 2, 1, 0, 0);
  -moz-transform: matrix(0, -1, 2, 1, 0, 0);
  -o-transform: matrix(0, -1, 2, 1, 0, 0);
  transform: matrix(0, -1, 2, 1, 0, 0);
}

#vivianTan {
  top: 59.5%;
  right: 38.5%;
  font-size: 19pt;
  -ms-transform: matrix(0, -1.5, 2, 1, 0, 0);
  -webkit-transform: matrix(0, -1.5, 2, 1, 0, 0);
  -moz-transform: matrix(0, -1.5, 2, 1, 0, 0);
  -o-transform: matrix(0, -1.5, 2, 1, 0, 0);
  transform: matrix(0, -1.5, 2, 1, 0, 0);
}

#michelleLiang {
  top: 42%;
  right: 78.5%;
  font-size: 19pt;
  -ms-transform: matrix(0, -1, 2, -1, 0, 0);
  -webkit-transform: matrix(0, -1, 2, -1, 0, 0);
  -moz-transform: matrix(0, -1, 2, -1, 0, 0);
  -o-transform: matrix(0, -1, 2, -1, 0, 0);
  transform: matrix(0, -1, 2, -1, 0, 0);
}

#andrewWang {
  top: 57%;
  right: 30%;
  font-size: 21pt;
  -ms-transform: matrix(0, -1, 2, -1, 0, 0);
  -webkit-transform: matrix(0, -1, 2, -1, 0, 0);
  -moz-transform: matrix(0, -1, 2, -1, 0, 0);
  -o-transform: matrix(0, -1, 2, -1, 0, 0);
  transform: matrix(0, -1.2, 2, -1, 0, 0);
}

#zacharyHuang {
  right: 19.5%;
  top: 46.5%;
  font-size: 8pt;
  -ms-transform: matrix(2, -1, 0, 2, 0, 0);
  -webkit-transform: matrix(2, -1, 0, 2, 0, 0);
  -moz-transform: matrix(2, -1, 0, 2, 0, 0);
  -o-transform: matrix(2, -1, 0, 2, 0, 0);
  transform: matrix(2, -1, 0, 2.5, 0, 0);
}

#sylviaHuynh {
  right: 2.5%;
  top: 39%;
  font-size: 9pt;
  -ms-transform: matrix(2, -1, 0, 2, 0, 0);
  -webkit-transform: matrix(2, -1, 0, 2, 0, 0);
  -moz-transform: matrix(2, -1, 0, 2, 0, 0);
  -o-transform: matrix(2, -1, 0, 2, 0, 0);
  transform: matrix(2, -1, 0, 2, 0, 0);
}

#tiaLiu {
  right: 15.5%;
  top: 78.5%;
  font-size: 13pt;
  -ms-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  -webkit-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  -moz-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  -o-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  transform: matrix(1, -0.5, 1.5, 1, 0, 0);
}

#bensonHan {
  right: 19%;
  top: 83%;
  font-size: 11pt;
  -ms-transform: matrix(2, -1, 0, 2, 0, 0);
  -webkit-transform: matrix(2, -1, 0, 2, 0, 0);
  -moz-transform: matrix(2, -1, 0, 2, 0, 0);
  -o-transform: matrix(2, -1, 0, 2, 0, 0);
  transform: matrix(2, -1, 0, 2, 0, 0);
}

#lisaChao {
  top: 71.5%;
  right: -0.5%;
  font-size: 13pt;
  -ms-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  -webkit-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  -moz-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  -o-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  transform: matrix(1, -0.5, 1.5, 1, 0, 0);
}

#jeremyQuan {
  right: 54%;
  font-size: 7pt;
  -ms-transform: matrix(2, -1, 0, 4, 0, 0);
  -webkit-transform: matrix(2, -1, 0, 4, 0, 0);
  -moz-transform: matrix(2, -1, 0, 4, 0, 0);
  -o-transform: matrix(2, -1, 0, 4, 0, 0);
  transform: matrix(2, -1, 0, 4, 0, 0);
  top: 24.5%;
}

#sarahTian {
  right: 25.5%;
  -ms-transform: matrix(3, 2, 0, 5, 0, 0);
  -webkit-transform: matrix(3, 2, 0, 5, 0, 0);
  -moz-transform: matrix(3, 2, 0, 5, 0, 0);
  -o-transform: matrix(3, 2, 0, 5, 0, 0);
  transform: matrix(3, 2, 0, 5, 0, 0);
  font-size: 6pt;
  top: 26%;
}

#joshLai {
  font-size: 21pt;
  -ms-transform: matrix(0, -1, 2, -1, 0, 0);
  -webkit-transform: matrix(0, -1, 2, -1, 0, 0);
  -moz-transform: matrix(0, -1, 2, -1, 0, 0);
  -o-transform: matrix(0, -1, 2, -1, 0, 0);
  transform: matrix(0, -1, 2, -1, 0, 0);
  top: 77%;
  right: 23%;
}

#jesicaTruong {
  top: 46%;
  right: 6.5%;
  font-size: 11pt;
  -ms-transform: matrix(2, -1, 0, 2, 0, 0);
  -webkit-transform: matrix(2, -1, 0, 2, 0, 0);
  -moz-transform: matrix(2, -1, 0, 2, 0, 0);
  -o-transform: matrix(2, -1, 0, 2, 0, 0);
  transform: matrix(2, -1, 0, 2, 0, 0);
}

#rebeccaLin {
  right: 2%;
  top: 76%;
  font-size: 6pt;
  -ms-transform: matrix(2, -1, 0, 4, 0, 0);
  -webkit-transform: matrix(2, -1, 0, 4, 0, 0);
  -moz-transform: matrix(2, -1, 0, 4, 0, 0);
  -o-transform: matrix(2, -1, 0, 4, 0, 0);
  transform: matrix(2, -1, 0, 4, 0, 0);
}

/* in this section is the cube built for the smallest phone size. */
@media screen and (max-width: 575px) {
  #wordCube {
    width: 320px;
    height: 350px;
  }

  .word {
    font-size: 12pt;
  }

  #lianaLiang {
    right: 51%;
    font-size: 11pt;
    -ms-transform: matrix(1, 0.6, -2, 1, 0, 0);
    -webkit-transform: matrix(1, 0.6, -2, 1, 0, 0);
    -moz-transform: matrix(1, 0.6, -2, 1, 0, 0);
    -o-transform: matrix(1, 0.6, -2, 1, 0, 0);
    transform: matrix(1, 0.6, -2, 1, 0, 0);
    top: 31%;
  }

  #miyaSheker {
    right: 12%;
    font-size: 12pt;
    -ms-transform: matrix(0.9, 0.6, -1.9, 1, 0, 0);
    -webkit-transform: matrix(0.9, 0.6, -1.9, 1, 0, 0);
    -moz-transform: matrix(0.9, 0.6, -1.9, 1, 0, 0);
    -o-transform: matrix(0.9, 0.6, -1.9, 1, 0, 0);
    transform: matrix(0.9, 0.6, -1.9, 1, 0, 0);
    top: 13.5%;
  }

  #marceaSuwandi {
    top: 33.5%;
    right: 6.5%;
    font-size: 15pt;
    -ms-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    -webkit-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    -moz-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    -o-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  }

  #tennShaun {
    right: 49%;
    top: 12.5%;
    font-size: 16pt;
    -ms-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    -webkit-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    -moz-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    -o-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  }

  #ellisWong {
    top: 60.5%;
    right: 77.5%;
    -ms-transform: matrix(0, -1.3, 2, 1, 0, 0);
    -webkit-transform: matrix(0, -1.3, 2, 1, 0, 0);
    -moz-transform: matrix(0, -1.3, 2, 1, 0, 0);
    -o-transform: matrix(0, -1.3, 2, 1, 0, 0);
    transform: matrix(0, -1.3, 2, 1, 0, 0);
  }

  #michelleTran {
    right: 66%;
    top: 60.5%;
    font-size: 12pt;
    -ms-transform: matrix(0, -1, 2, -1, 0, 0);
    -webkit-transform: matrix(0, -1, 2, -1, 0, 0);
    -moz-transform: matrix(0, -1, 2, -1, 0, 0);
    -o-transform: matrix(0, -1, 2, -1, 0, 0);
    transform: matrix(0, -1, 2, -1, 0, 0);
  }

  #joshuaFidelis {
    top: 35.5%;
    right: 77%;
    font-size: 12pt;
    -ms-transform: matrix(0, -1, 2, 1, 0, 0);
    -webkit-transform: matrix(0, -1, 2, 1, 0, 0);
    -moz-transform: matrix(0, -1, 2, 1, 0, 0);
    -o-transform: matrix(0, -1, 2, 1, 0, 0);
    transform: matrix(0, -1, 2, 1, 0, 0);
  }

  #ashleyPizarro {
    top: 39.5%;
    right: 65.5%;
    -ms-transform: matrix(3.1, 2, 0, 4, 0, 0);
    -webkit-transform: matrix(3.1, 2, 0, 4, 0, 0);
    -moz-transform: matrix(3.1, 2, 0, 4, 0, 0);
    -o-transform: matrix(3.1, 2, 0, 4, 0, 0);
    transform: matrix(3.1, 2, 0, 4, 0, 0);
    font-size: 5pt;
  }

  #annaTian {
    top: 76%;
    left: 36.6%;
    font-size: 12pt;
    -ms-transform: matrix(0, -1, 2, 1, 0, 0);
    -webkit-transform: matrix(0, -1, 2, 1, 0, 0);
    -moz-transform: matrix(0, -1, 2, 1, 0, 0);
    -o-transform: matrix(0, -1, 2, 1, 0, 0);
    transform: matrix(0, -1, 2, 1, 0, 0);
  }

  #vivianTan {
    top: 54.5%;
    right: 44%;
    font-size: 12pt;
    -ms-transform: matrix(0, -1.5, 2, 1, 0, 0);
    -webkit-transform: matrix(0, -1.5, 2, 1, 0, 0);
    -moz-transform: matrix(0, -1.5, 2, 1, 0, 0);
    -o-transform: matrix(0, -1.5, 2, 1, 0, 0);
    transform: matrix(0, -1.5, 2, 1, 0, 0);
  }

  #michelleLiang {
    top: 42%;
    right: 76%;
    font-size: 12pt;
    -ms-transform: matrix(0, -1, 2, -1, 0, 0);
    -webkit-transform: matrix(0, -1, 2, -1, 0, 0);
    -moz-transform: matrix(0, -1, 2, -1, 0, 0);
    -o-transform: matrix(0, -1, 2, -1, 0, 0);
    transform: matrix(0, -1, 2, -1, 0, 0);
  }

  #andrewWang {
    top: 52%;
    right: 36%;
    font-size: 12pt;
    -ms-transform: matrix(0, -1, 2, -1, 0, 0);
    -webkit-transform: matrix(0, -1, 2, -1, 0, 0);
    -moz-transform: matrix(0, -1, 2, -1, 0, 0);
    -o-transform: matrix(0, -1, 2, -1, 0, 0);
    transform: matrix(0, -1.1, 2, -1, 0, 0);
  }

  #zacharyHuang {
    right: 25.5%;
    top: 44.5%;
    font-size: 5pt;
    -ms-transform: matrix(2, -1, 0, 4, 0, 0);
    -webkit-transform: matrix(2, -1, 0, 4, 0, 0);
    -moz-transform: matrix(2, -1, 0, 4, 0, 0);
    -o-transform: matrix(2, -1, 0, 4, 0, 0);
    transform: matrix(2, -1, 0, 4, 0, 0);
  }

  #sylviaHuynh {
    right: 9%;
    top: 37.5%;
    font-size: 5.5pt;
    -ms-transform: matrix(2, -1, 0, 4, 0, 0);
    -webkit-transform: matrix(2, -1, 0, 4, 0, 0);
    -moz-transform: matrix(2, -1, 0, 4, 0, 0);
    -o-transform: matrix(2, -1, 0, 4, 0, 0);
    transform: matrix(2, -1, 0, 3.6, 0, 0);
  }

  #tiaLiu {
    right: 20%;
    top: 73%;
    font-size: 9.5pt;
    -ms-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    -webkit-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    -moz-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    -o-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  }

  #bensonHan {
    right: 28.5%;
    top: 81%;
    font-size: 5pt;
    -ms-transform: matrix(2, -1, 0, 4, 0, 0);
    -webkit-transform: matrix(2, -1, 0, 4, 0, 0);
    -moz-transform: matrix(2, -1, 0, 4, 0, 0);
    -o-transform: matrix(2, -1, 0, 4, 0, 0);
    transform: matrix(2, -1, 0, 3.5, 0, 0);
  }

  #lisaChao {
    top: 64.5%;
    right: 3%;
    font-size: 9pt;
    -ms-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    -webkit-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    -moz-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    -o-transform: matrix(1, -0.5, 1.5, 1, 0, 0);
    transform: matrix(1, -0.5, 1.5, 1, 0, 0);
  }

  #jeremyQuan {
    right: 53%;
    font-size: 3.75pt;
    -ms-transform: matrix(2, -1, 0, 4, 0, 0);
    -webkit-transform: matrix(2, -1, 0, 4, 0, 0);
    -moz-transform: matrix(2, -1, 0, 4, 0, 0);
    -o-transform: matrix(2, -1, 0, 4, 0, 0);
    transform: matrix(2, -1, 0, 4, 0, 0);
    top: 20.5%;
  }

  #sarahTian {
    right: 28.4%;
    -ms-transform: matrix(3, 2, 0, 5, 0, 0);
    -webkit-transform: matrix(3, 2, 0, 5, 0, 0);
    -moz-transform: matrix(3, 2, 0, 5, 0, 0);
    -o-transform: matrix(3, 2, 0, 5, 0, 0);
    transform: matrix(3, 2, 0, 5, 0, 0);
    font-size: 3.5pt;
    top: 22%;
  }

  #joshLai {
    font-size: 12pt;
    -ms-transform: matrix(0, -1.2, 2, -1, 0, 0);
    -webkit-transform: matrix(0, -1.2, 2, -1, 0, 0);
    -moz-transform: matrix(0, -1.2, 2, -1, 0, 0);
    -o-transform: matrix(0, -1.2, 2, -1, 0, 0);
    transform: matrix(0, -1.1, 2, -1, 0, 0);
    top: 73.5%;
    right: 30%;
  }

  #jesicaTruong {
    top: 46%;
    right: 13.8%;
    font-size: 6.5pt;
    -ms-transform: matrix(2, -1, 0, 2, 0, 0);
    -webkit-transform: matrix(2, -1, 0, 2, 0, 0);
    -moz-transform: matrix(2, -1, 0, 2, 0, 0);
    -o-transform: matrix(2, -1, 0, 2, 0, 0);
    transform: matrix(2, -1, 0, 2, 0, 0);
  }

  #rebeccaLin {
    right: 7%;
    top: 72%;
    font-size: 6pt;
    -ms-transform: matrix(2, -1, 0, 3, 0, 0);
    -webkit-transform: matrix(2, -1, 0, 3, 0, 0);
    -moz-transform: matrix(2, -1, 0, 3, 0, 0);
    -o-transform: matrix(2, -1, 0, 3, 0, 0);
    transform: matrix(2, -1, 0, 3, 0, 0);
  }
}

/* End of cube */

#mission {
  font-weight: normal;
}

#missionStatement {
  margin-top: 20px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#history {
  text-align: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.pageLink {
  background-color: inherit;
}

@media screen and (max-width: 575px) {
  #missionStatement {
    margin-top: 5px;
    width: 100%;
    text-align: justify;
  }

  #history {
    width: 95%;
    text-align: justify;
  }
}

/*
  End CSS
  Location: lship
*/


/*
   Start CSS
   Location: SlideShow;
*/

#slideShow {
  padding-top: 0px;
  text-align: center;
}

#bannerCaption {
  margin-top: 50px;
}

#slideShow button {
  margin: 25px;
  background-color: inherit;
  font-size: 1.25em;
  border-radius: 5%;
  box-shadow: 2px 2px 5px black;
  border-color: transparent;
}

#slideShow button:hover {
  cursor: pointer;
  background-color: black;
  color: gold;
}

#bannerSlideshow {
  position: relative;
  width: 100%;
}

#previousBanner,
#nextBanner {
  font-size: 5em;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  color: silver;
  text-shadow: 0px 0px 1px black;
}

#previousBanner:hover,
#nextBanner:hover {
    color: black;
    text-shadow: none;
    cursor: pointer;
}

#nextBanner:hover {
  -webkit-animation: slideRight 1.5s ease infinite;
}

#previousBanner:hover {
  -webkit-animation: slideLeft 1.5s ease infinite;
}

@keyframes slideRight {
  from {
    position: relative;
    opacity: 1;
    left: 0px;
  }
  to {
    position: relative;
    opacity: 0;
    left: 25px;
  }
}

@keyframes slideLeft {
  from {
    position: relative;
    opacity: 1;
    left: 0px;
  }
  to {
    position: relative;
    opacity: 0;
    left: -25px;
  }
}

@media screen and (max-width: 575px) {

  #previousBanner,
  #nextBanner {
    font-size: 3em;
    margin-left: 25px;
    margin-right: 25px;
    color: silver;
    text-shadow: 0px 0px 1px black;
  }
}

.flyInRight {
  -webkit-animation: flyInRight 1.5s ease; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: flyright 1.5s ease; /* Firefox < 16 */
}

.flyOutRight {
  -webkit-animation: flyOutRight 1.5s ease; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: flyOutRight 1.5s ease; /* Firefox < 16 */
}

@keyframes flyOutRight {
  from {
    position: relative;
    opacity: 1;
    right: 0px;
  }
  to {
    position: relative;
    opacity: 0;
    right: -20px;
  }
}

@-moz-keyframes flyOutRight {
  from {
    position: relative;
    opacity: 1;
    right: 0px;
  }
  to {
    position: relative;
    opacity: 0;
    right: -20px;
  }
}

@keyframes flyInRight {
  from {
    position: relative;
    opacity: 0;
    right: 20px;
  }
  to {
    position: relative;
    opacity: 1;
    right: 0px;
  }
}

@-moz-keyframes flyInRight {
  from {
    position: relative;
    opacity: 0;
    right: 20px;
  }
  to {
    position: relative;
    opacity: 1;
    right: 0px;
  }
}

.flyInLeft {
  -webkit-animation: flyInLeft 1.5s ease; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: flyInLeft 1.5s ease; /* Firefox < 16 */
}

.flyOutLeft {
  -webkit-animation: flyOutLeft 1.5s ease; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: flyOutLeft 1.5s ease; /* Firefox < 16 */
}

@keyframes flyOutLeft {
  from {
    position: relative;
    opacity: 1;
    left: 0px;
  }
  to {
    position: relative;
    opacity: 0;
    left: -20px;
  }
}

@-moz-keyframes flyOutLeft {
  from {
    position: relative;
    opacity: 1;
    left: 0px;
  }
  to {
    position: relative;
    opacity: 0;
    left: -20px;
  }
}

@keyframes flyInLeft {
  from {
    position: relative;
    opacity: 0;
    left: 20px;
  }
  to {
    position: relative;
    opacity: 1;
    left: 0px;
  }
}

@-moz-keyframes flyInLeft {
  from {
    position: relative;
    opacity: 0;
    left: 20px;
  }
  to {
    position: relative;
    opacity: 1;
    left: 0px;
  }
}

/*
  End CSS
  Location: community
*/

/*
   Start CSS
   Location: footer
*/

.contactInfo {
  color: white;
}

/*
  End CSS
  Location: footer
*/
