/* Begin Non-template CSS */

/*
  Start CSS
  Location: Multiple Pages
*/

#modal-video {
  height: 400px;
  width: 600px;
}

.modal-logo {
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

#foundations-logo {
  max-height: 40px;
  margin-right: 10px;
}

@media screen and (max-width: 575px) {
  #foundations-logo {
    max-height: 20px;
    margin-right: 0px;
  }

  .navbar-brand {
    font-size: 12pt;
  }

  #modal-video {
    max-width: 100%;
    height: 60%;
  }
}

footer {
  background-color: #222;
}

#mainNav.navbar-shrink {
  background-color: rgba(34, 34, 34, 0.95);
}

@font-face {
  font-family: BebasNeue Light;
  src: url("../img/Fonts/BebasNeueLight.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeueLight.woff") format("woff");
}

@font-face {
  font-family: BebasNeue;
  src: url("../img/Fonts/BebasNeue.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeue.woff") format("woff");
}

#mainNav .navbar-brand {
  font-family: BebasNeue;
}

#mainNav .navbar-brand span {
  font-family: BebasNeue Light;
}

#mainNav .navbar-brand {
  font-size: 1.5em;
}

@media screen and (max-width: 375px) {
  #mainNav .navbar-brand {
    font-size: 1.25em;
  }
}

.lazy {
  -webkit-animation: 5s fadein ease-in;
}

/*
  End CSS
  Location: Multiple Pages
*/

/*
   Start CSS
   Location: navbar
*/



.nav-title {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-title {
    display: inline-flex;
    color: white;
  }
}

/*
  End CSS
  Location: navbar
*/

/*
   Start CSS
   Location: Side Nav
*/

#desktopOnlyNav {
  height: 100%;
  width: 15%;
  background-color: rgba(34, 34, 34, 0.95);
  color: white;
  padding: 1%;
  padding-top: 15%;
  margin-left: 20%;
  padding-bottom: 15%;
  position: fixed;
}

#desktopOnlyNav li {
  list-style: none;
}

#desktopOnlyNav li:hover {
  margin-left: 20px;
  color: gold;
  cursor: pointer;
  font-size: 1.5em;
}



@media screen and (max-width: 991px) {
  #desktopOnlyNav {
    display: none;
  }
}

/*
   End CSS
   Location: Side Nav
*/

/*
   Start CSS
   Location: description
*/

#lshipDescription {
  min-height: 1000px;
  margin-left: 40%;
}


/*
   End CSS
   Location: lshipDescription
*/


/*
   Start CSS
   Location: footer
*/

.contactInfo {
  color: white;
}

/*
  End CSS
  Location: footer
*/
