/* Begin Non-template CSS */

/*
  Start CSS
  Location: Multiple Pages
*/

body {
    -webkit-tap-highlight-color: inherit;
}

#modal-video {
  height: 400px;
  width: 600px;
}

.modal-logo {
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

#foundations-logo {
  max-height: 40px;
  margin-right: 10px;
}

@media screen and (max-width: 575px) {
  #foundations-logo {
    max-height: 20px;
    margin-right: 0px;
  }

  .navbar-brand {
    font-size: 12pt;
  }

  #modal-video {
    max-width: 100%;
    height: 60%;
  }
}

footer {
  background-color: #222;
}

#mainNav.navbar-shrink {
  background-color: rgba(34, 34, 34, 0.95);
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 1.25em;
  font-family: BebasNeue;
}

.dropdown-menu {
    background-color: rgba(34, 34, 34, 0.95);
    border: none;
}

.dropdown-item {
    color: white;
    font-family: BebasNeue;
    font-size: 1.25em;
    text-transform: uppercase;
}

.dropdown-item:hover {
    background-color: #fed136;
}

@font-face {
  font-family: BebasNeue Light;
  src: url("../img/Fonts/BebasNeueLight.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeueLight.woff") format("woff");
}

@font-face {
  font-family: BebasNeue;
  src: url("../img/Fonts/BebasNeue.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeue.woff") format("woff");
}

#mainNav .navbar-brand {
  font-family: BebasNeue;
}

#mainNav .navbar-brand span {
  font-family: BebasNeue Light;
}

#mainNav .navbar-brand {
  font-size: 1.5em;
}

@media screen and (max-width: 375px) {
  #mainNav .navbar-brand {
    font-size: 1.25em;
  }
}

/*
  End CSS
  Location: Multiple Pages
*/

/*
   Start CSS
   Location: navbar
*/



.nav-title {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-title {
    display: inline-flex;
    color: white;
  }
}

/*
  End CSS
  Location: navbar
*/

/*
   Start CSS
   Location: Side Nav
*/

section {
  padding-bottom: 0px;
  padding-top: 5%;
}

#executives {
  padding-top: 10%;
}

#desktopOnlyNav {
  text-align: center;
  height: 100%;
  width: 20%;
  background-color: rgba(34, 34, 34, 0.95);
  color: white;
  padding: 1%;
  padding-top: 15%;
  padding-bottom: 15%;
  position: fixed;
}

.listlink {
  color: white;
}

.listlink:hover {
  text-decoration: none;
  color: gold;
}

.listlink:visited {
  color: inherit;
}

#desktopOnlyNav li {
  list-style: none;
}

#desktopOnlyNav ul {
  padding-left: 0;
}

#desktopOnlyNav li:hover {
  margin-left: 20px;
  color: gold;
  cursor: pointer;
  font-size: 1.5em;
}

#sideBarToggle {
  display: none;
}

#sideBarClose {
  display: none;
}

#sideBarLogo {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#sideBarLogo:hover {
  cursor: pointer;
  opacity: 0.75;
}

@media screen and (max-width: 991px) {
  #desktopOnlyNav {
    font-size: 1.5em;
    padding-top: 20%;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 6;
    left: -100%;
    -webkit-transition: left 2s;
    transition: left 2s;
  }

  #desktopOnlyNav ul {
    padding-left: 0;
  }

  #sideBarToggle {
    display: block;
    position: fixed;
    top: 50%;
    font-size: 2em;
    height: 50px;
    width: 50px;
    color: white;
    border-radius: 50%;
    text-align: center;
    z-index: 5;
    left: -20px;
    background-color: rgba(34, 34, 34, 1);
    -webkit-transition: left 2s;
    transition: left 2s;
  }

  #sideBarClose {
    margin-top: 25px;
    display: inline-flex;
  }


  .notification {
    -webkit-animation: shake 2.5s infinite; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: shake 2.5s infinite; /* Firefox < 16 */
  }

  @keyframes shake {
    25% {-webkit-transform: translateX(10px);}
    50% {-webkit-transform: translateX(-10px);}
    75% {-webkit-transform: translateX(10px);}
    100% {-webkit-transform: translateX(-10px);}
  }

  #sideBarToggle:hover {
    color: gold;
  }
}

/*
   End CSS
   Location: Side Nav
*/

/*
   Start CSS
   Location: main
*/


main {
  padding-top: 5%;
  margin-left: 20%;
  text-align: center;
}

.allLshipTitle {
  margin: 2%;
}

.lshipPics {
  opacity: 0;
  width: 10em;
  height: 10em;
}

.lshipPicBox {
  margin-top: -50px;
  overflow: auto;
  min-height: 10em;
  padding: 5px;
  color: white;
  text-shadow: 0px 0px 25px black;
  font-size: 0.65em;
}

#allLshipArray #portfolio .adminImgArray .portfolio-item {
  margin: 0px;
  display: inline-block;
}

#allLshipArray, .adminImgArray {
  text-align: center;
  padding-right: 0;
}

#allLshipArray {
  min-height: 100%;
}

.imgArrayTitle {
  margin-top: 5%;
}


.lshipDescription {
  text-align: center;
}

.execPhoto {
  margin-left: auto;
  margin-right: auto;
}

.execPicArray {
  display: inline-flex;
  margin: auto;
}

.miya {
  margin-right: 2%;
}

.liana {
  margin-left: 2%;
}

.directorBox {
  height: 12em;
  max-height: 200px;
  width: 92%;
  margin-top: -100px;
}

#descriptionExec {
  margin-left: 0px;
  max-width: 100%;
}

.directorPhoto,
.execSecondPhoto {
  width: 20em;
}

.branchBody {
  text-align: justify;
  display: flex;
  width: 100%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.bodyExec {
  width: 75%;
}

.photoContainer {
  width: 50%;
}

.lshipDescription #portfolio .adminImgArray .portfolio-item {
  margin: 2px;
  width: 12em;
  height: 12em;
  display: flex;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

#portfolio #mediaAdminPic {
  display: inline-block;
  margin: 2px;
  width: 12em;
  height: 12em;
}

#portfolio #mediaAdminPic .adminPics {
  width: 12em;
  height: 12em;
}

.photoContainer {
  display: inline;
}

.admin-logo {
  margin-top: -75px;
  max-height: 200px;
  padding: 5px;
}


#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background-color: transparent;
}

#portfolio .adminImgArray .adminDetail {
  font-size: 0.75em;
}

.adminPics {
  width: 12em;
  height: 12em;
}

.portfolio-item:hover .adminPics,
.portfolio-item:hover .lshipPics,
.portfolio-link:hover .directorPhoto {
  -webkit-filter: blur(15px); /* Safari 6.0 - 9.0 */
  filter: blur(10px);
  transition: 0.5s ease;
}

.adminBox,
.directorBox {
  background-color: transparent;
  overflow: auto;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px black;
  height: 12em;
}


.flyIn {
  opacity: 1;
  -webkit-animation: flyIn 3s ease; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: flyIn 3s ease; /* Firefox < 16 */
}

.flyInNoScale {
  -webkit-animation: flyInNoScale 2s ease; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: flyInNoScale 2s ease; /* Firefox < 16 */
}

@keyframes flyInNoScale {
  from {
    position: relative;
    opacity: 0;
    top: 500px;
  }
  to {
    position: relative;
    opacity: 1;
    top: 0px;
  }
}

@keyframes flyIn {
  from {
    position: relative;
    opacity: 0;
    top: 500px;
    transform: scale(2.5, 2.5);
  }
  to {
    position: relative;
    opacity: 1;
    top: 0px;
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 500px) {

  .allLshipTitle {
    margin-top: 15%;
    margin-bottom: 5%;
  }

  .lshipPics {
    width: 8em;
    height: 8em;
    margin: 0;
  }

  .lshipPicBox {
    margin-top: -50px;
    overflow: auto;
    max-height: 8em;
    padding: 5px;
    color: white;
    text-shadow: 0px 0px 10px black;
    font-size: 0.75em;
  }

  .branchBody {
    width: 90%;
  }

  main {
    margin-left: 0%;
     width: 100%;
  }

  .directorPhoto,
  .execSecondPhoto {
    width: 10em;
    margin-left: 0px;
  }


  .lshipDescription {
    margin-left: 0px;
    min-height: 600px;
  }

  .adminPics {
    width: 10em;
    height: 10em;
  }

  .directorBox {
    height: 10em;
    max-height: 8em;
    width: 50%;
    margin-top: -50px;
    font-size: 0.75em;
  }

  .lshipDescription #portfolio .adminImgArray .portfolio-item {
    width: 10em;
    height: 10em;
    display: inline-block;
  }

  .admin-logo {
    margin-top: -35px;
  }

  .adminBox {
    height: 6em;
    width: 8em;
  }

  @keyframes flyIn {
    from {
      position: static;
      opacity: 0;
      top: 500px;
      transform: scale(2.5, 2.5);
    }
    to {
      position: static;
      opacity: 1;
      top: 0px;
      transform: scale(1, 1);
    }
  }
}


@media screen and (max-width: 991px) and (min-width: 500px) {

  .allLshipTitle {
    margin-top: 10%;
    margin-bottom: 5%;
  }

  main {
    margin-left: 0%;
     width: 100%;
  }

  .lshipDescription #portfolio .adminImgArray .portfolio-item {
    display: inline-block;
  }

  .adminPics {
    height: 12em;
    width: 12em;
  }

  .lshipDescription {
    max-width: 100%;
  }

  .branchBody {
    width: 90%;
  }

  .directorPhoto,
  .execSecondPhoto {
    width: 20em;
    margin-left: 0px;
  }


  .lshipDescription {
    margin-left: 0px;
  }
}


/*
   End CSS
   Location: lshipDescription
*/


/*
   Start CSS
   Location: footer
*/

.contactInfo {
  color: white;
}

/*
  End CSS
  Location: footer
*/
