/* Begin Non-template CSS */

/*
  Start CSS
  Location: Multiple Pages
*/

body {
    -webkit-tap-highlight-color: inherit;
}

.modal-video {
  height: 300px;
  width: 100%;
  border: 25px solid;
  overflow: hidden;
  border-image: url('../img/borders/directorBorder.jpg') 50 round;
}

.modal-logo {
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

#foundations-logo {
  max-height: 40px;
  margin-right: 10px;
}

@media screen and (max-width: 575px) {
  #foundations-logo {
    max-height: 20px;
    margin-right: 0px;
  }

  .navbar-brand {
    font-size: 12pt;
  }

  .modal-video {
    max-width: 100%;
    height: 70%;
    border-image: url('../img/borders/directorBorder.jpg') 75 round;
  }
}

footer {
  background-color: #222;
}

#mainNav.navbar-shrink {
  background-color: rgba(34, 34, 34, 0.95);
}

.dropdown-menu {
    background-color: rgba(34, 34, 34, 0.95);
    border: none;
}

.dropdown-item {
    color: white;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.dropdown-item:hover {
    background-color: #fed136;
}

@font-face {
  font-family: BebasNeue Light;
  src: url("../img/Fonts/BebasNeueLight.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeueLight.woff") format("woff");
}

@font-face {
  font-family: BebasNeue;
  src: url("../img/Fonts/BebasNeue.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeue.woff") format("woff");
}

#mainNav .navbar-brand {
  font-family: BebasNeue;
}

#mainNav .navbar-brand span {
  font-family: BebasNeue Light;
}

#mainNav .navbar-brand {
  font-size: 1.5em;
}

@media screen and (max-width: 375px) {
  #mainNav .navbar-brand {
    font-size: 1.25em;
  }
}

.lazy {
  -webkit-animation: 5s fadein ease-in;
  -moz-animation: fadeOut 3s ease-out; /* Firefox < 16 */
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*
  End CSS
  Location: Multiple Pages
*/

/*
   Start CSS
   Location: navbar
*/



.nav-title {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-title {
    display: inline-flex;
    color: white;
  }
}

/*
  End CSS
  Location: navbar
*/

/*
   Start CSS
   Location: Community
*/


#workshopDesc {
  margin-top: 75px;
}

#showcaseDesc {
  margin-top: 50px;
}

#community {
  padding-bottom: 0px;
}

.section-heading {
  margin-top: 50px;
}

@media screen and (max-width: 575px) {
  .section-heading {
    font-size: 14pt;
  }
}

/*
  End CSS
  Location: Community
*/

/*
   Start CSS
   Location: Testimonials
*/


#modalImg,
.testimonialPhoto,
.switchToPic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.testimonialPhoto {
  border: 6px double black;
}

.portfolio-hover {
  border-radius: 50%;
}

/*
  End CSS
  Location: Testimonials
*/

/*
   Start CSS
   Location: footer
*/

.contactInfo {
  color: white;
}

/*
  End CSS
  Location: footer
*/
