/* Begin Non-template CSS */

/*
  Start CSS
  Location: Multiple Pages
*/

body {
    -webkit-tap-highlight-color: inherit;
    font-family: 'Lato';
}

#modal-video {
  height: 400px;
  width: 600px;
}

.modal-logo {
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

#foundations-logo {
  max-height: 40px;
  margin-right: 10px;
}

@media screen and (max-width: 575px) {
  #foundations-logo {
    max-height: 20px;
    margin-right: 0px;
  }

  .navbar-brand {
    font-size: 12pt;
  }

  #modal-video {
    max-width: 100%;
    height: 60%;
  }
}

footer {
  background-color: #222;
}

#mainNav.navbar-shrink {
  background-color: rgba(34, 34, 34, 0.95);
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 1.25em;
  font-family: BebasNeue;
}

#mainNav .dropdown-menu {
    background-color: rgba(34, 34, 34, 0.95);
    border: none;
}

.dropdown-item {
    color: white;
    font-family: BebasNeue;
    font-size: 1.25em;
    text-transform: uppercase;
}

#mainNav .dropdown-item:hover {
    background-color: #fed136;
}

@font-face {
  font-family: BebasNeue Light;
  src: url("../img/Fonts/BebasNeueLight.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeueLight.woff") format("woff");
}

@font-face {
  font-family: BebasNeue;
  src: url("../img/Fonts/BebasNeue.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeue.woff") format("woff");
}

#mainNav .navbar-brand {
  font-family: BebasNeue;
}

#mainNav .navbar-brand span {
  font-family: BebasNeue Light;
}

#mainNav .navbar-brand {
  font-size: 1.5em;
}

@media screen and (max-width: 375px) {
  #mainNav .navbar-brand {
    font-size: 1.25em;
  }
}

/*
  End CSS
  Location: Multiple Pages
*/

/*
   Start CSS
   Location: navbar
*/



.nav-title {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-title {
    display: inline-flex;
    color: white;
  }
}

/*
  End CSS
  Location: navbar
*/

/*
   Start CSS
   Location: SideBar
*/

#teamNav {
  height: 100%;
  width: 20%;
  background-color: rgba(34, 34, 34, 0.95);
  color: white;
  padding: 1%;
  padding-top: 15%;
  padding-bottom: 15%;
  position: fixed;
  text-align: center;
}

#teamNav ul {
  padding-left: 0;
  width: 100%;
}

#teamNav .dropdown-menu {
  background-color: inherit;
  border: none;
}

#teamNav .listLink {
  text-align: center;
}

.listlink {
  color: white;
}

.listlink:hover {
  text-decoration: none;
  color: gold;
}

.listlink:visited {
  background-color: black;
}

#teamNav li {
  list-style: none;
}

#teamNav li:hover {
  color: gold;
  cursor: pointer;
}

#sideBarLogo {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/*
  End CSS
  Location: SideBar
*/

/*
   Start CSS
   Location: Main Content
*/

.lshipDescription {
  margin-left: 20%;
  text-align: center;
  min-height: 1000px;
}

#bannerImg {
  width: 100%;
}


#modalImg,
.teamPhoto,
.switchToPic {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#sideBarToggle {
  display: none;
}

#sideBarClose {
  display: none;
}

@media screen and (max-width: 991px) {
  #teamNav {
    position: fixed;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    z-index: 4;
    left: -100%;
    -webkit-transition: left 2s;
    transition: left 2s;
  }

  #sidebarNav {
    display: block;
    text-align: center;
  }

  .listlink {
    text-align: center;
  }

  #sideBarToggle {
    display: block;
    position: fixed;
    top: 50%;
    font-size: 2em;
    height: 50px;
    width: 50px;
    color: white;
    border-radius: 50%;
    text-align: center;
    z-index: 5;
    left: -20px;
    background-color: rgba(34, 34, 34, 1);
    -webkit-transition: left 2s;
    transition: left 2s;
  }

  #sideBarClose {
    margin-top: 50px;
    display: inline-flex;
  }


  .notification {
    -webkit-animation: shake 2.5s infinite; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: shake 2.5s infinite; /* Firefox < 16 */
  }

  @keyframes shake {
    25% {-webkit-transform: translateX(10px);}
    50% {-webkit-transform: translateX(-10px);}
    75% {-webkit-transform: translateX(10px);}
    100% {-webkit-transform: translateX(-10px);}
  }

  #sideBarToggle:hover {
    color: gold;
  }

  .lshipDescription {
    margin-left: 0;
  }
}

/*
  End CSS
  Location: Main Content
*/

/*
   Start CSS
   Location: footer
*/

.contactInfo {
  color: white;
}

/*
  End CSS
  Location: footer
*/
