/* Begin Non-template CSS */

/*
  Start CSS
  Location: Multiple Pages
*/
body {
    -webkit-tap-highlight-color: inherit;
    font-family: 'Lato';
}

#modal-video {
  height: 400px;
  width: 600px;
}

.modal-logo {
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

#foundations-logo {
  max-height: 40px;
  margin-right: 10px;
}

@media screen and (max-width: 575px) {
  #foundations-logo {
    max-height: 20px;
    margin-right: 0px;
  }

  .navbar-brand {
    font-size: 12pt;
  }

  #modal-video {
    max-width: 100%;
    height: 60%;
  }
}

footer {
  background-color: #222;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 1.25em;
  font-family: BebasNeue;
}

#mainNav.navbar-shrink {
  background-color: rgba(34, 34, 34, 0.95);
}

.dropdown-menu {
    background-color: rgba(34, 34, 34, 0.95);
    border: none;
}

.dropdown-item {
    color: white;
    font-family: BebasNeue;
    font-size: 1.25em;
    text-transform: uppercase;
}

.dropdown-item:hover {
    background-color: #fed136;
}

@font-face {
  font-family: BebasNeue Light;
  src: url("../img/Fonts/BebasNeueLight.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeueLight.woff") format("woff");
}

@font-face {
  font-family: BebasNeue;
  src: url("../img/Fonts/BebasNeue.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeue.woff") format("woff");
}

#mainNav .navbar-brand {
  font-family: BebasNeue;
}

#mainNav .navbar-brand span {
  font-family: BebasNeue Light;
}

#mainNav .navbar-brand {
  font-size: 1.5em;
}

@media screen and (max-width: 375px) {
  #mainNav .navbar-brand {
    font-size: 1.25em;
  }
}


/*
  End CSS
  Location: Multiple Pages
*/

/*
  Start CSS
  Location: Word Cube mobile only
 */

 #leadership {
     display: none;
 }

 /* in this section is the cube built for the smallest phone size. */


 /*
    End CSS
    Location: Word Cube mobile only
 */


/*
   Start CSS
   Location: Header

*/

video {
  width: 100%;
}

header .masthead {
  text-align: center;
  color: white;
  width: 100%;
}

#soundBox {
  top: 80%;
  left: 90%;
  position: absolute;
}


.soundtitle {
  color: white;
  font-family: BebasNeue;
  text-transform: uppercase;
}

.soundbutton {
  max-height: 40px;
  color: white;
}

.soundbutton:hover {
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  #soundBox {
    top: 40%;
    left: 85%;
  }
}

@media screen and (max-width: 787px) {
  .masthead {
    margin-top: 50px;
  }
  .soundtitle {
    margin-left: 0px;
  }
  #soundBox {
    top: 40%;
    left: 85%;
  }
}

@media screen and (max-width: 500px) {
  #soundBox {
    top: 45%;
    left: 75%;
  }
  .soundtitle {
    color: black;
    margin-left: 0px;
  }
}

/*
   End CSS
   Location: Header

*/

/*
   Start CSS
   Location: Exec Letter

*/

#letterFrom {
  padding-bottom: 25px;
  background-color: rgb(255, 253, 255);
}

#spring-cube {
  height: 80%;
  width: 40%;
  margin-bottom: 200px;
  margin: auto;
}


#exec-signOff {
  text-align: right;
}

#exec-greeting {
  text-align: justify;
}

#welcome {
  font-family: BebasNeue;
  font-size: 16pt;
}

@media screen and (max-width: 991px) {

  #spring-cube {
    margin-top: 50px;
    width: 100%;
    margin: 0px;
  }
}

/*
   End CSS
   Location: Exec Letter

*/

/*
   Start CSS
   Location: Upcoming Events

*/
  .UpcomingEvents {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
  }

  #summerBanner {
    width: 100%;
    position: relative;
  }

  .bannerContent {
    width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media screen and (max-width: 575px) {
    .bannerContent {
      text-align: justify;
      width: 90%;
    }
  }

/*
   End CSS
   Location: Exec Letter

*/

/*
   Start CSS
   Location: Highlights
*/

.portfolio-item {
  box-shadow: 0px 0px 10px lightgrey;
}

#portfolio {
  padding-top: 25px;
}

/*
   End CSS
   Location: Highlights

*/

/*
   Start CSS
   Location: footer
*/

.contactInfo {
  color: white;
}

/*
  End CSS
  Location: footer
*/
