/* Begin Non-template CSS */

/*
  Start CSS
  Location: Multiple Pages
*/

body {
    -webkit-tap-highlight-color: inherit;
}

#modal-video {
  height: 400px;
  width: 600px;
}

.modal-logo {
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

#foundations-logo {
  max-height: 40px;
  margin-right: 10px;
}

@media screen and (max-width: 575px) {
  #foundations-logo {
    max-height: 20px;
    margin-right: 0px;
  }

  .navbar-brand {
    font-size: 12pt;
  }

  #modal-video {
    max-width: 100%;
    height: 60%;
  }
}

footer {
  background-color: #222;
}

#mainNav.navbar-shrink {
  background-color: rgba(34, 34, 34, 0.95);
}

.dropdown-menu {
    background-color: rgba(34, 34, 34, 0.95);
    border: none;
}

.dropdown-item {
    color: white;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.dropdown-item:hover {
    background-color: #fed136;
}

@font-face {
  font-family: BebasNeue Light;
  src: url("../img/Fonts/BebasNeueLight.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeueLight.woff") format("woff");
}

@font-face {
  font-family: BebasNeue;
  src: url("../img/Fonts/BebasNeue.ttf") format("truetype");
  src: url("../img/Fonts/BebasNeue.woff") format("woff");
}

#mainNav .navbar-brand {
  font-family: BebasNeue;
}

#mainNav .navbar-brand span {
  font-family: BebasNeue Light;
}

#mainNav .navbar-brand {
  font-size: 1.5em;
}

@media screen and (max-width: 375px) {
  #mainNav .navbar-brand {
    font-size: 1.25em;
  }
}

.lazy {
  -webkit-animation: 5s fadein ease-in;
  -moz-animation: fadeOut 3s ease-out; /* Firefox < 16 */
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*
  End CSS
  Location: Multiple Pages
*/

/*
   Start CSS
   Location: navbar
*/



.nav-title {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-title {
    display: inline-flex;
    color: white;
  }
}

/*
  End CSS
  Location: navbar
*/

/*
   Start CSS
   Location: Side Nav
*/
section {
  padding-top: 100px;
}

#desktopOnlyNav {
  height: 100%;
  width: 20%;
  background-color: rgba(34, 34, 34, 0.95);
  color: white;
  padding: 1%;
  padding-top: 15%;
  padding-bottom: 15%;
  position: fixed;
}

#desktopOnlyNav li {
  list-style: none;
}

#desktopOnlyNav li:hover {
  margin-left: 20px;
  color: gold;
  cursor: pointer;
  font-size: 1.5em;
}




@media screen and (max-width: 991px) {
  #desktopOnlyNav {
    display: none;
  }
}

/*
   End CSS
   Location: Side Nav
*/

/*
   Start CSS
   Location: description
*/

#imgArrayTitle {
  margin-top: 20%;
}

#lshipDescription {
  margin-left: 20%;
  text-align: center;
}

.flyIn {
  -webkit-animation: flyIn 1.5s ease; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: flyIn 1.5s ease; /* Firefox < 16 */
}

.goAway {
  -webkit-animation: flyOut 1.5s ease; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: flyOut 1.5s ease; /* Firefox < 16 */
}

.directorPhoto,
.execSecondPhoto {
  width: 30em;
  margin-left: 40px;
}

.execPicStyle {
  width: 20em;
}

.directorPhoto {
  display: inline-flex;
}

#branchBody {
  text-align: justify;
  display: inline-flex;
  width: 50em;
  margin-top: 50px;
}

#adminImgArray {
  margin-right: auto;
}


.adminPics {
  margin: 2px;
  width: 13em;
  height: 13em;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.adminPics:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: 0.75s ease;
}

@keyframes flyOut {
  from {
    position: relative;
    opacity: 1;
    top: 0px;
  }
  to {
    position: relative;
    opacity: 0;
    top: -500px;
  }
}

@keyframes flyIn {
  from {
    position: relative;
    opacity: 0;
    top: 500px;
  }
  to {
    position: relative;
    opacity: 1;
    top: 0px;
  }
}

#adminBox {
  background-color: white;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 13em;
}

@media screen and (max-width: 500px) {

  #branchBody {
    width: 90%;
  }


  .directorPhoto,
  .execSecondPhoto {
    width: 15em;
    margin-left: 0px;
  }

  .execPicStyle {
    width: 10em;
  }

  #lshipDescription {
    margin-left: 0px;
  }

  .adminPics {
    width: 10em;
    height: 10em;
  }

  #adminBox {
    width: 10em;
  }
}

@media screen and (max-width: 991px) and (min-width: 500px) {

  #lshipDescription {
    max-width: 100%;
  }

  #branchBody {
    width: 90%;
  }

  .directorPhoto,
  .execSecondPhoto {
    width: 25em;
    margin-left: 0px;
  }

  .execPicStyle {
    width: 15em;
  }


  #lshipDescription {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .directorPhoto,
  .execSecondPhoto {
    width: 20em;
    float: left;
    margin-left: 5%;
  }

  .execPicStyle {
    margin-left: 15%;
  }

  #execSecondPhoto {
    float: right;
    margin-right: 5%;
  }

  #branchBody {
    text-align: justify;
    width: 45em;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1700px) {
  .directorPhoto,
  .execSecondPhoto {
    width: 25em;
    float: left;
    margin-left: 15%;
  }
}


/*
   End CSS
   Location: lshipDescription
*/


/*
   Start CSS
   Location: footer
*/

.contactInfo {
  color: white;
}

/*
  End CSS
  Location: footer
*/
