#about-masthead {
    background: linear-gradient(
        rgba(0, 0, 0, 0.30),
        rgba(0, 0, 0, 0.30)
      ),
      url("../img/teams/vision.jpg");
      background-attachment: scroll;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#events-masthead {
    background: linear-gradient(
        rgba(0, 0, 0, 0.30),
        rgba(0, 0, 0, 0.30)
      ),
      url("../img/teams/cerberus.jpg");
      background-attachment: scroll;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#apply-masthead {
    background: linear-gradient(
        rgba(0, 0, 0, 0.30),
        rgba(0, 0, 0, 0.30)
      ),
      url("../img/teams/sporks.jpg");
      background-attachment: scroll;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#frame {
    width: 800px;
    margin: auto;
}
