/* Begin Non-template CSS */

/*
  Start CSS
  Location: Multiple Pages
*/

body {
    -webkit-tap-highlight-color: inherit;
    font-family: 'Lato';
    color: black;
}

#modal-video {
  height: 400px;
  width: 600px;
}

.modal-logo {
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

#foundations-logo {
  max-height: 40px;
  margin-right: 10px;
}

@media screen and (max-width: 575px) {
  #foundations-logo {
    max-height: 20px;
    margin-right: 0px;
  }

  .navbar-brand {
    font-size: 12pt;
  }

  #modal-video {
    max-width: 100%;
    height: 60%;
  }
}

footer {
  background-color: #222;
}

#mainNav .navbar-shrink {
  background-color: rgba(34, 34, 34, 0.95);
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 1.25em;
  font-family: BebasNeue;
}

.dropdown-menu {
    background-color: rgba(34, 34, 34, 0.95);
    border: none;
}

.dropdown-item {
    color: white;
    font-family: BebasNeue;
    font-size: 1.25em;
    text-transform: uppercase;
}

.dropdown-item:hover {
    background-color: #fed136;
}

@font-face {
  font-family: BebasNeue Light;
  src: url("../../img/Fonts/BebasNeueLight.ttf") format("truetype");
  src: url("../../img/Fonts/BebasNeueLight.woff") format("woff");
}

@font-face {
  font-family: BebasNeue;
  src: url("../../img/Fonts/BebasNeue.ttf") format("truetype");
  src: url("../../img/Fonts/BebasNeue.woff") format("woff");
}

#mainNav .navbar-brand {
  font-family: BebasNeue;
}

#mainNav .navbar-brand span {
  font-family: BebasNeue Light;
}

#mainNav .navbar-brand {
  font-size: 1.5em;
}

@media screen and (max-width: 375px) {
  #mainNav .navbar-brand {
    font-size: 1.25em;
  }
}



/*
  End CSS
  Location: Multiple Pages
*/

/*
  Start CSS
  Location: Multiple Pages
*/

iframe {
  max-width: 100%;
}

#foundationsLogo {
  width: 15%;
  margin-bottom: 30px;
}

/*
  End CSS
  Location: Multiple Pages
*/

/*
   Start CSS
   Location: Gear View
*/
body {
    background-color: white;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2.5vw;
}

h3 {
    font-size: 2vw;
}

p {
    font-size: 1.5vw;
}

#gearView {
    padding-top: 0px;
    background-color: rgba(255, 255, 255);
    font-weight: bold;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.mainPhotoDiv {
    margin-left: auto;
    margin-right: auto;
}

.gearTitle {
    margin: 10%;
}

.pic-option button:hover {
    box-shadow: 5px 5px 2px grey;
    cursor: pointer;
}

.item-container {
  display: inline-flex;
  width: 100%;
}

.pic-option {
  display: flex;
  width: 33.33%;
}

.hiddenDetails {
    display: none;
}

.gearCost {
    margin-bottom: 0px;
}

.productPicSlider {
    overflow: hidden;
    display: inline-block;
}

.productPic {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.activeR {
    display: inline-flex;
    -webkit-animation-name: rightSlideIn;
    -webkit-animation-duration: 0.5s;
    animation-name: rightSlideIn;
    animation-duration: 0.5s;
}

.activeL {
    display: inline-flex;
    -webkit-animation-name: leftSlideIn;
    -webkit-animation-duration: 0.5s;
    animation-name: leftSlideIn;
    animation-duration: 0.5s;
}

.previousR {
    display: inline-flex;
    -webkit-animation-name: rightSlideOut;
    -webkit-animation-duration: 0.5s;
    animation-name: rightSlideOut;
    animation-duration: 0.5s;
}

.previousL {
    display: inline-flex;
    -webkit-animation-name: leftSlideOut;
    -webkit-animation-duration: 0.5s;
    animation-name: leftSlideOut;
    animation-duration: 0.5s;
}


@-webkit-keyframes rightSlideIn {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes rightSlideIn {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0px);
    }
}

@-webkit-keyframes rightSlideOut {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(1000px);
    }
}

@keyframes rightSlideOut {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(1000px);
    }
}

@-webkit-keyframes leftSlideOut {
    from {
        display: flex;
        transform: translateX(0px);
    }
    to {
        display: flex;
        transform: translateX(-1000px);
    }
}

@keyframes leftSlideOut {
    from {
        display: flex;
        transform: translateX(0px);
    }
    to {
        display: flex;
        transform: translateX(-1000px);
    }
}

@-webkit-keyframes leftSlideIn {
    from {
        display: flex;
        transform: translateX(-1000px);
    }
    to {
        display: flex;
        transform: translateX(0px);
    }
}

@keyframes leftSlideIn {
    from {
        display: flex;
        transform: translateX(-1000px);
    }
    to {
        display: flex;
        transform: translateX(0px);
    }
}

.orderFormDiv {
    position: fixed;
    top: 0px;
    right: 0px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 20%;
}

.orderFormBtn {
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0px white;
    border: 0px white;
}

.photoCenterer {
    margin: auto;
}

.altPhotos {
    height: 50px;
    width: 50px;
    margin: auto;
}

.altPhotos:hover {
    border: 1px solid black;
    cursor: pointer;
}

.portfolio-modal {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.modal .productPicSlider {
    width: 60%;
    margin: 0px;
    float: left;
}

.modal .productPic {
    width: 100%;
    z-index: -1;
}

.productDescription {
    width: 35%;
    padding: 2%;
    z-index: 1;
    margin: auto;
    float: right;
    text-align: left;
    border: 1px solid black;
}

.modalAltList {
    display: inline-flex;
    margin: auto;
}


@media screen and (max-width: 1024px) {
    .gearTitle {
        margin-top: 30%;
    }
}

@media screen and (max-width: 575px) {
    #gearView {
        width: 100%;
    }

    h1 {
        font-size: 3.5vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 4vw;
    }

    p {
        font-size: 2.75vw;
    }

    .gearTitle {
        font-size: 5vw;
    }

    .gearCost {
        font-size: 3vw;
    }

    .hiddenDetails {
        display: block;
    }

    .pic-option {
      width: 80%;
      margin-bottom: 100px;
      margin-left: auto;
      margin-right: auto;
    }

    .modal .productPic {
        width: 100%;
        margin-left: 0px;
    }

    .productDescription p,
    .productDescription li {
        font-size: 6vw;
    }

    .orderFormBtn {
        width: 100%;
        font-size: 2.5vw;
    }

    .orderFormDiv {
        margin-top: 18%;
        width: 30%;
        right: 0%;
    }

    .orderFormDiv h4 {
        display: none;
    }

    .portfolio-modal {
        width: 100%;
    }

    .modal .productPicSlider {
        width: 100%;
    }

    .modal .productPic {
        width: 100%;
    }

    .productDescription {
        width: 100%;
    }

    .modal .modalAltList {
        width: 100%;
        padding: 1%;
        align-items: center;
    }

    .modal .altPhotos {
        width: 75px;
        height: 75px;
    }

}

/*
  End CSS
  Location: Multiple Pages
*/

/*
   Start CSS
   Location: footer
*/

.contactInfo {
  color: white;
}

/*
  End CSS
  Location: footer
*/
