/* Begin Non-template CSS */

/*
  Start CSS
  Location: Multiple Pages
*/

body {
    -webkit-tap-highlight-color: inherit;
}

#modal-video {
  height: 400px;
  width: 600px;
}

.modal-logo {
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

#foundations-logo {
  max-height: 40px;
  margin-right: 10px;
}

@media screen and (max-width: 575px) {
  #foundations-logo {
    max-height: 20px;
    margin-right: 0px;
  }

  .navbar-brand {
    font-size: 12pt;
  }

  #modal-video {
    max-width: 100%;
    height: 60%;
  }
}

footer {
  background-color: #222;
}

#mainNav.navbar-shrink {
  background-color: rgba(34, 34, 34, 0.95);
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 1.25em;
  font-family: BebasNeue;
}

.dropdown-menu {
    background-color: rgba(34, 34, 34, 0.95);
    border: none;
}

.dropdown-item {
    color: white;
    font-family: BebasNeue;
    font-size: 1.25em;
    text-transform: uppercase;
}

.dropdown-item:hover {
    background-color: #fed136;
}

@font-face {
  font-family: BebasNeue Light;
  src: url("../../img/Fonts/BebasNeueLight.ttf") format("truetype");
  src: url("../../img/Fonts/BebasNeueLight.woff") format("woff");
}

@font-face {
  font-family: BebasNeue;
  src: url("../../img/Fonts/BebasNeue.ttf") format("truetype");
  src: url("../../img/Fonts/BebasNeue.woff") format("woff");
}

#mainNav .navbar-brand {
  font-family: BebasNeue;
  color: #F3F1ED;
}

#mainNav .navbar-brand span {
  font-family: BebasNeue Light;
}

#mainNav .navbar-brand {
  font-size: 1.5em;
}

@media screen and (max-width: 375px) {
  #mainNav .navbar-brand {
    font-size: 1.25em;
  }
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*
  End CSS
  Location: Multiple Pages
*/

/*
   Start CSS
   Location: navbar
*/



.nav-title {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-title {
    display: inline-flex;
    color: white;
  }
}

/*
  End CSS
  Location: navbar
*/

/*
   Start CSS
   Location: topMost box
*/

body {
  background-image: url("../../img/events/Tile3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color:	#E1EFF6; */
  color: #272727;
}

#contentDiv,
#calenderDiv {
  background-color: rgba(255,255,255, 0.75);
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #B5838D;
}

.duoPost {
  width: 50%;
  margin: auto;
}

@media screen and (min-width: 991px) {
  #contentDiv {
    width: 60%;
  }
}

#banner {
  width: 100%;
}

.workshopSection {
  margin-top: 50px;
  text-align: justify;
}

.workshopDescription {
  margin-top: 75px;
}

.workshopPhoto {
  width: 80%;
}

.workshopSection a {
  color: darkblue;
}

#calendarImg{
  width: 100%;
}

#previousBanner,
#nextBanner {
  font-size: 5em;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  color: #F3F1ED;
  text-shadow: 0px 0px 10px #26CAD3;
}

#previousBanner:hover,
#nextBanner:hover {
    color: #26CAD3;
    cursor: pointer;
}

#nextBanner:hover {
  -webkit-animation: slideRight 1.5s ease infinite;
}

#previousBanner:hover {
  -webkit-animation: slideLeft 1.5s ease infinite;
}

@keyframes slideRight {
  from {
    position: relative;
    opacity: 1;
    left: 0px;
  }
  to {
    position: relative;
    opacity: 0;
    left: 25px;
  }
}

@keyframes slideLeft {
  from {
    position: relative;
    opacity: 1;
    left: 0px;
  }
  to {
    position: relative;
    opacity: 0;
    left: -25px;
  }
}

@media screen and (max-width: 575px) {

  #previousBanner,
  #nextBanner {
    font-size: 3em;
  }

  .duoPost {
    width: 100%;
  }

  .workshopPhoto {
    width: 100%;
  }
}



/*
  End CSS
  Location: topmost box
*/

/*
  Start CSS
  Location: specialSection
*/

.specialSection {
  background-image: url("../../img/Banners/fallShowcaseBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 600;
  text-shadow: 0.5px 0.5px lightblue;
}

.specialSection h1,
.specialSection h2,
.specialSection h3 {
  color: black;
  text-shadow: 3px 3px lightblue;
}

.specialSection tr {
  border-bottom: 2px solid black;
}

#showcaseInfoDiv div {
  padding: 1.5%;
}

#showcaseInfoDiv li {
  list-style-type: none;
}

#showcaseInfoDiv a {
  color: blue;
}

/*
  End CSS
  Location: specialSection
*/

/*
  Start CSS
  Location: calendar
*/

#calendar {
  width: 100%;
  margin: 0 auto;
}

#calendar td {
  border: 0.5px ridge grey;
}

#calendar .fc-h-event {
  background-color: white;
  color: black;
}

#calendar .fc-h-event:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.portfolio-modal .modal-content {
  min-height: 0px;
  max-height: 600px;
  width: 600px;
  margin: 5% auto 5% auto;
  padding: auto;
  position: relative;
}

.portfolio-modal #modalImg {
  width: 100%;
}

.portfolio-modal .modal-container {
  padding: 5%;
}

@media screen and (max-width: 576px) {
  .portfolio-modal .modal-content {
    width: 100%;
    min-height: 100%;
  }
}

#modalEventLink {
  color: black;
  text-decoration: none;
}

#modalEventLink:hover {
  text-decoration: underline;
}

/*
  End CSS
  Location: calendar
*/

/*
  Start CSS
  Location: footer
*/


.contactInfo {
  color: white;
}

/*
  End CSS
  Location: footer
*/
