/* Begin Non-template CSS */

/*
  Start CSS
  Location: Multiple Pages
*/

body {
    -webkit-tap-highlight-color: inherit;
    font-family: 'Lato';
    background-color: #f8f9fa;
}


.modal-video {
  width: 100%;
  height: 280px;
}

.modal-logo {
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

#foundations-logo {
  max-height: 40px;
  margin-right: 10px;
}

@media screen and (max-width: 575px) {
  #foundations-logo {
    max-height: 20px;
    margin-right: 0px;
  }

  .navbar-brand {
    font-size: 12pt;
  }

  .modal-video {
    max-width: 100%;
    height: 70%;
  }
}

footer {
  background-color: #222;
}

#mainNav.navbar-shrink {
  background-color: rgba(34, 34, 34, 0.95);
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 1.25em;
  font-family: BebasNeue;
}

.dropdown-menu {
    background-color: rgba(34, 34, 34, 0.95);
    border: none;
}

.dropdown-item {
    color: white;
    font-family: BebasNeue;
    font-size: 1.25em;
    text-transform: uppercase;
}

.dropdown-item:hover {
    background-color: #fed136;
}

@font-face {
  font-family: BebasNeue Light;
  src: url("../../img/Fonts/BebasNeueLight.ttf") format("truetype");
  src: url("../../img/Fonts/BebasNeueLight.woff") format("woff");
}

@font-face {
  font-family: BebasNeue;
  src: url("../../img/Fonts/BebasNeue.ttf") format("truetype");
  src: url("../../img/Fonts/BebasNeue.woff") format("woff");
}

#mainNav .navbar-brand {
  font-family: BebasNeue;
}

#mainNav .navbar-brand span {
  font-family: BebasNeue Light;
}

#mainNav .navbar-brand {
  font-size: 1.5em;
}

@media screen and (max-width: 375px) {
  #mainNav .navbar-brand {
    font-size: 1.25em;
  }
}

/*
  End CSS
  Location: Multiple Pages
*/

/*
   Start CSS
   Location: navbar
*/



.nav-title {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-title {
    display: inline-flex;
    color: white;
  }
}

/*
  End CSS
  Location: navbar
*/

/*
   Start CSS
   Location: Community
*/

@media screen and (min-width: 991px) {
  #community {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }
}

.wkspImg {
  width: 100%;
  height: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#headerPic {
  margin-top: 3em;
  width: 100%;
}

.modal-video {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#workshopDesc, #showcaseDesc {
  margin-top: 25px;
  margin: 10%;
  margin-top: 2%;
}

#workshopTitle, #showcaseTitle {
  margin-top: 10px;
}

#community {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section-heading {
  margin-top: 50px;
}

@media screen and (max-width: 575px) {
  .section-heading {
    font-size: 14pt;
  }
}

@media screen and (max-width: 991px) {
  .wkspImg {
    height: auto;
  }

  #workshopDesc, #showcaseDesc {
    margin: auto;
  }

  #workshopTitle, #showcaseTitle {
    margin-top: 15px;
  }
}

/*
  End CSS
  Location: Community
*/

/*
   Start CSS
   Location: Testimonials
*/

#portfolio {
  padding-bottom: 50px;
}

#modalImg,
.testimonialPhoto,
.switchToPic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-hover {
  border-radius: 50%;
}

/*
  End CSS
  Location: Testimonials
*/

/*
  Start CSS
  Location: Contributors
*/

#contributorsSection {
  padding-top: 0px;
}

#contributorsSection li, #contributorsSection a  {
  color: black;
  list-style-type: none;
  padding: 0px;
}

#contributorsSection ul {
  padding-left: 0px;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 991px) {
  #contributorsSection ul {
    text-align: center;
  }
}

/*
  END CSS
  Location: Contributors
*/

/*
   Start CSS
   Location: footer
*/

.contactInfo {
  color: white;
}

/*
  End CSS
  Location: footer
*/
